.card {
  background-color: var(--white);
  border-radius: calc(var(--spacer) * 2);
  padding: calc(var(--spacer) * 7) calc(var(--spacer) * 5)
    calc(var(--spacer) * 5) calc(var(--spacer) * 5);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: calc(var(--spacer) * 5);
}

@media (max-width: 425px) {
  .card {
    border-radius: var(--spacer);
    padding: calc(var(--spacer) * 4) calc(var(--spacer) * 3)
      calc(var(--spacer) * 3) calc(var(--spacer) * 3);
  }
}
